.geofence__content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.geofence__content__file__container{
    display: flex;
    gap: 1rem;
}

.geofence__content__file--label{
    cursor: pointer;
    padding: 0.4rem;
}

.geofence__content__file--download{
    color: #0057E2;
}

.geofence__content__file__download--download{
    color: green;
}