.alerts__content__battery{
    display: flex;
    flex-direction: column;

    flex:1;
    border: 1px solid var(--border-color);
    max-height: 100%; /* Restrict to parent's height */
    overflow: auto;

}

