.alerts{
    display: flex;
    flex-direction: column;

    border: 1px solid var(--border-color);
}

.alerts__header{
    display: flex;
    gap: 2rem;
    align-items: center;
    background-color: var(--white-color);
    width: 100%;
}

.alerts__header--title{
    margin: 1rem 0;
}

.alerts__header__search{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.alerts__header__search--search{
    font-family: var(--font-quicksand);
    color: #B9BEC6;
    font-weight: 500;
    margin-left: 3rem;
}

.alerts__header__search--search:focus{
    outline: none;
}

.alerts__content{
    display: flex;
    gap: 2rem;
    max-height: 100%; /* Restrict to parent's height */
    overflow: auto;
}